$black: black;
$yellow: #CF3700;
$red: #CF3700;

.white{
  color: white;
}

.container {
  background-color: $black;
}

.white-triangle {
  border-top: 20px solid white;
}

.absolute {
  position: absolute;
}

.triangle {
  margin-left: 49%;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  z-index: 10;
}