@font-face {
  font-family: 'Cartoon Blocks';
  src: font-url('cartoon-blocks.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'remachine';
  src: font-url('RemachineScript_Personal_Use.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CuttyFruty';
  src: font-url('CuttyFruty.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
