@import "common";

.cv-navbar {
  border-color: $red;
  margin: auto;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-top-width: 10px;
  border-radius: 0%;
}

.navbar-title {
  font-family: CuttyFruty;
  font-size: 2em;
}